@charset "utf-8";

@font-face {
    font-family:'NotoL';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/NotoSansKR-Regular.eot');
    src: url('fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/NotoSansKR-Regular.woff2') format('woff2'),
         url('fonts/NotoSansKR-Regular.woff') format('woff'),
         url('fonts/NotoSansKR-Regular.otf') format('opentype'),
         local("※");
    }
    @font-face {
    font-family:'NotoB';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/NotoSansKR-Medium.eot');
    src: url('fonts/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/NotoSansKR-Medium.woff2') format('woff2'),
         url('fonts/NotoSansKR-Medium.woff') format('woff'),
         url('fonts/NotoSansKR-Medium.otf') format('opentype'),
         local("※");
    }
    @font-face {
    font-family:'NsrL';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/NanumSquareRoundR.eot');
    src: url('fonts/NanumSquareRoundR.eot?#iefix') format('embedded-opentype'),
         url('fonts/NanumSquareRoundR.woff') format('woff'),
         url('fonts/NanumSquareRoundR.otf') format('opentype'),
         url('fonts/NanumSquareRoundR.ttf') format('truetype'),
         local("※");
    }
    @font-face {
    font-family:'NsrB';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/NanumSquareRoundB.eot');
    src: url('fonts/NanumSquareRoundB.eot?#iefix') format('embedded-opentype'),
         url('fonts/NanumSquareRoundB.woff') format('woff'),
         url('fonts/NanumSquareRoundB.otf') format('opentype'),
         url('fonts/NanumSquareRoundB.ttf') format('truetype'),
         local("※");
    }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap');
html, body {width:100%; min-height:100%; height:100%; color:#737373;  font-family: 'NotoL'; font-size: 14px;}
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, code,del, 
dfn, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, 
td ,hr {margin:0;padding:0;font-size:100%;box-sizing: border-box;color:#737373;}
body {height:100%;min-height:100%;font-family:'NotoL','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:14px;color:#737373;line-height:1.5}
h1, h2, h3, h4, h5, h6 {font-weight:normal}
ol, ul, li {list-style:none}
table {width:100%; border-collapse:collapse;border-spacing:0}
form, fieldset, iframe {display:block;border:0}
img, button {border:0 none;vertical-align:top; }
hr {height:0; display:none}
i, em, address{font-style:normal}
label, button{cursor:pointer}
blockquote, q {quotes:none}
caption, legend {overflow:hidden;visibility:hidden;position:absolute;width:0;height:0;padding:0;margin:0;font-size:0;text-indent:-100%;white-space:nowrap;z-index:-1}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;box-sizing: border-box;}
input, textarea, select, button {font-family:'NotoL','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:12px;color:#919090;line-height:1.5;letter-spacing:0;vertical-align:middle; background:none; border:none;}
input, textarea {margin:0;padding:0}
input[type="text"],input[type="email"],input[type="phone"],input[type="password"]{padding:0 10px;}
textarea {resize:none; border:none; background:none; text-align:left; padding:10px;}
a {color:#ababab;text-decoration:none}
a:link, a:visited {text-decoration:none}
a:hover {text-decoration:none}
#appPage{height:100%;min-height:100%;}
button:focus{outline: none;}
:focus{outline: none;}
.blind{display: none;overflow: hidden;position: absolute;width: 0;height: 0;padding: 0;margin: 0; font-size: 0;line-height: 0; text-indent: -9999em;visibility: hidden;outline: none;z-index: -1;}
.link{cursor: pointer;}
.flexbox{display: flex; }
/* 7장 SPA 기본 골격 만들기 */
.contentbox {width: 100%;max-width: 1200px; margin: 0 auto; padding: 0 20px;}
.topmenu {padding: 5px 0;}
.topmenu .contentbox { display: flex;justify-content: space-between;align-items: center;}
.logo img {width: 65px;}
.system > button::before {content: "";display: inline-block;width: 3px;height: 3px;border-radius: 50%;margin: 0 4px;background-color: #ddd;vertical-align: middle;}   
.system > button:nth-of-type(1)::before {display: none;}
nav { padding: 8px 0; background-color: #ff1f3d; position: relative; z-index: 3;}
nav ul { display: flex; }
nav ul > li { flex: 1; text-align: center; }
nav ul > li > button { color: #fff; font-size: 18px; font-weight: 700; }
header { position: relative; z-index: 9999; }
header::after { content: ""; display: block; width: 100%; height: 29px; background-color: #b31f28;position: absolute; left: 0; top: 80px;transform: rotate(1.5deg); box-shadow: 1px 5px 9px -3px rgb(50 50 50 / 75%); z-index: 2;}
#wrap { display: flex;flex-direction: column; height: 100%; }
footer {margin-top: auto;position: relative;}
.botinfo {width: 100%;height: 50px;padding: 10px 0;background: #ebebeb; border-top: solid 1px #ddd; border-bottom: solid 1px #ddd;}
.botbtngroup { max-width: 1200px; width: 100%; margin: 0 auto; padding: 0 20px;display: flex;justify-content: flex-end;align-items: center; }
.btn-text { padding: 0 10px; position: relative;}
.btn-text::before { content: ""; display: block; width: 1px; height: 18px; background: #d1d1d1; position: absolute; left: 0; top: 0;}
.btn-text:nth-of-type(1) { padding-left: 0; } 
.btn-text:nth-of-type(1)::before { display: none; }
.btn-gray { height: 29px; padding: 0 10px; margin-left: 10px; background-color: #606060; color: #fff; }
.footerinfo { max-width: 1200px; width: 100%; margin: 0 auto; padding: 20px;display: flex; align-items: center; }
.footerinfo::before { content: ""; display: block; width: 100%; height: 35px;background: url("/images/footer-bg.png") repeat-x; position: absolute; left: 0; top: 50px; z-index: 2;}
.footer-logo, .footer-sub { position: relative; z-index: 3; }
.footer-logo img { width: 125px; }
.footer-sub { flex: 1; padding-left: 20px; font-size: 12px; }
@media screen and (max-width: 1024px) {
     .system > button { width: 25px; height: 25px; font-size: 0; }
     .system > button::before { display: none; }
     .system > button:nth-of-type(1) { background: url("/images/icon-login.svg") no-repeat 0 0/100%; margin-right: 15px; }
     .system > button:nth-of-type(2) { background: url("/images/icon-member.svg") no-repeat 0 0/100%; } 
}
@media screen and (max-width: 767px) {
     nav ul > li { flex: auto; padding-right: 10px; }
     nav ul > li:nth-last-of-type(1) { padding-right: 0px; }
     nav ul > li > button { font-size: 15px; }
     .botinfo { height: auto; padding: 0 30px; }
     .botbtngroup { flex-wrap: wrap; justify-content: center; padding: 10px 0; }
     .footerinfo { position: relative; }
     .footerinfo::before { top: 0; }
     .btn-text { width: 33%; margin-bottom: 10px; font-size: 11px; }
     .btn-gray { min-width: 75px; height: 24px; font-size: 11px; }
     .btn-text + .btn-gray { margin-left: 0; }
     .footer-logo img { width: 85px; }
     .footer-logo { align-self: flex-start; padding-top: 4px; }
     .footer-info address span { display: block; }
}